
/* Organizers Section */
.organizers-container {
    max-width: 800px;       
    margin: 0 auto;          
    padding: 20px;          
    text-align: left;        
}

/* Chairs Section */
.chairs-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

/* Category Styling */
.chairs-category {
    margin-bottom: 30px;
}

/* Heading Styling */
.chairs-category h3 {
    font-size: 1.4em;
    border-left: 4px solid #b41a3ec3;
    padding-left: 10px;
    color: #333;
    text-align: left; /* Left align the heading */
}

/* Paragraph Styling */
.chairs p {
    font-size: 1.1em;
    padding-left: 10px;
    color: #555;
    text-align: left; /* Left align the paragraph */
    line-height: 1.5; /* Adjust line spacing */
    margin: 10px 0; /* Add consistent spacing between paragraphs */
}


/* General Heading and Paragraph Styles */
h1, h3 {
    margin: 0 0 20px;
    color: #333;

}

h2 {
    text-align: left; 
    padding-left: 10px; 
    color: #333; 
    font-size: 1.6em;
    margin-bottom: 20px; 
}


p {
    font-size: 1.1em;
    text-align: justify;
    margin: 15px 0;
}

/* Utility Class for Clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
