<header class="navbar">
    <!-- Logo Section -->
    <img src="{{ '/assets/img/ISMAR_logo_24.png' | relative_url }}" alt="Logo" class="logo">

    <!-- Navigation Links -->
    <ul class="nav-links">
        <li><a href="home">Home</a></li>
        <li><a href="sponsors">Sponsors</a></li>
        <li><a href="organizers">Organizers</a></li>

    </ul>
    <script src="{{'assets\js\functions.js' | relative_url }}"></script>
</header>
  <!-- Main content -->
  <div class="main-content">
    <div class="hero">
        <img src="assets/img/ISMAR_Banner_24-4.png" alt="Banner Image">
            <section class="description">
                <p>IEEE International Symposium on Mixed and Augmented Reality (ISMAR) is the premier conference for Augmented Reality (AR), Mixed Reality (MR) and Virtual Reality (VR), which attracts the world’s leading researchers from both academia and industry. ISMAR explores the advances in commercial and research activities related to AR, MR, and VR by continuing to expand its scope over the past several years. The conference will include two days of workshops, tutorials, and contests and three days of scientific papers, posters, and demonstration presentations. In addition, exhibitions will be arranged to promote the interactions and exchange between industry and academia.
              
              ISMAR 2025 will be hosted in a hybrid mode! We look forward to seeing all of you at the conference.</p>
              </section>
        </div>
    </div>

    <!-- Sponsors section -->
    <aside class="sponsors">
        <h2>Sponsors</h2>
        <ul>
            <li><img src="assets\img\Meta-Logo-4-1536x402.png" alt="Meta"></li>
            <li><img src="assets\img\qualcomn-1-1536x315.png" alt="Qualcomm"></li>
            <!-- Add more sponsors here -->
        </ul>
    </aside>
</div>

<footer>
    IEEE ISMAR 2025 | Greater Seattle Area | October 2025
</footer>
</body>