<div class="sponsors-container">
    <h2>Sponsors</h2>
    <h3>Diamond</h3>
    <img src="/assets/images/meta-logo.png" alt="Meta">
    
    <h3>Gold</h3>
    <img src="/assets/images/qualcomm-logo.png" alt="Qualcomm">
  
    <h3>Silver</h3>
    <img src="/assets/images/australian-research.png" alt="Australian Research Council">
  
    <h3>Bronze</h3>
    <img src="/assets/images/nvidia-logo.png" alt="NVIDIA">
    <img src="/assets/images/khronos-logo.png" alt="KHRONOS">
    <img src="/assets/images/metaverse-logo.png" alt="IEEE Metaverse">
    <img src="/assets/images/ieee-logo.png" alt="IEEE">
  </div>
  