<header>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <a href="{{ '/' | relative_url }}">
            <img src="{{ 'assets/2025/img/IsmarLogo.png' | relative_url }}" alt="Logo" class="logo">
        </a>
        <ul class="nav-links">
            {% for item in site.data.2025.navigation %}
            <li class="{% if item.children %}dropdown{% endif %}">
                <a href="{{ item.url | relative_url }}">{{ item.title }}
                    {% if item.children %}<span class="arrow-down">&#9662;</span>{% endif %}
                </a>
                {% if item.children %}
                <ul class="dropdown-content">
                    {% for child in item.children %}
                    <li class="{% if child.children %}dropdown{% endif %}">
                        <a href="{{ child.url | relative_url }}">{{ child.title }}
                            {% if child.children %}<span class="arrow-right">&#9656;</span>{% endif %}</a>
                        {% if child.children %}
                        <ul class="dropdown-content">
                            {% for grandchild in child.children %}
                            <li><a href="{{ grandchild.url | relative_url }}">{{ grandchild.title }}</a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <div class="hamburger" onclick="toggleMenu()">
            &#9776;
        </div>
    </nav>
</header>