<footer class="footer">
    <img src="{{ 'assets/img/footer/footer-1920.jpg' | relative_url }}" 
         srcset="
            {{ 'assets/img/footer/footer-3600.jpg' | relative_url }} 3600w,
            {{ 'assets/img/footer/footer-2560.jpg' | relative_url }} 2560w,
            {{ 'assets/img/footer/footer-1920.jpg' | relative_url }} 1920w,
            {{ 'assets/img/footer/footer-1280.jpg' | relative_url }} 1280w,
            {{ 'assets/img/footer/footer-640.jpg' | relative_url }} 640w
         "
         sizes="(max-width: 640px) 100vw,
                (max-width: 1280px) 100vw,
                (max-width: 1920px) 100vw,
                100vw" 
         alt="Footer Background" />
    <div class="footer-content">
        IEEE ISMAR 2025 | Daejeon, South Korea | October 2025
    </div>
</footer>