<header>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <a href="{{ '/' | relative_url }}">
            <img src="{{ 'assets/img/IsmarLogo.png' | relative_url }}" alt="Logo" class="logo">
        </a>
        <ul class="nav-links">
            {% for item in site.data.navigation %}
            <li class="{% if item.children %}dropdown{% endif %}">
                <a href="{{ item.url | relative_url }}">{{ item.title }}
                    {% if item.children %}<span class="arrow-down">&#9662;</span>{% endif %}
                </a>
                {% if item.children %}
                <ul class="dropdown-content">
                    {% for child in item.children %}
                    <li><a href="{{ child.url | relative_url }}">{{ child.title }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <div class="hamburger" onclick="toggleMenu()">
            &#9776;
        </div>
    </nav>

    <!-- Hero Image Section -->
    <div class="hero-section">
        <img class="hero-image" src="{{ 'assets/img/hero/hero-1920.jpg' | relative_url }}" srcset="
            {{ 'assets/img/hero/hero-3840.jpg' | relative_url }} 3840w,
            {{ 'assets/img/hero/hero-2560.jpg' | relative_url }} 2560w,
            {{ 'assets/img/hero/hero-1920.jpg' | relative_url }} 1920w,
            {{ 'assets/img/hero/hero-1280.jpg' | relative_url }} 1280w,
            {{ 'assets/img/hero/hero-640.jpg' | relative_url }} 640w
        " sizes="(max-width: 640px) 100vw,
                (max-width: 1280px) 100vw,
                (max-width: 1920px) 100vw,
                100vw" alt="Hero Image" />
        <div class="hero-text">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
</header>

<script>
    function toggleMenu() {
        const navLinks = document.querySelector('.nav-links');
        navLinks.classList.toggle('active');
    }
</script>